:root{
    --text-color:#F8F8F8;
    --bg-color:#101010;
    --btn-color:#52FFE0;
    --section-color:#2C2D31;
    --sectoin-color-2:#1D1E22;
}


@font-face {
    font-family: 'Red Rose';
    src: url('../fonts/RedRose-Regular.woff2') format('woff2'),
        url('../fonts/RedRose-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Rose';
    src: url('../fonts/RedRose-Bold.woff2') format('woff2'),
        url('../fonts/RedRose-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    margin: 0;
    font-weight: 400;
    font-family: "RedRose";
    line-height: 1.5;
    font-size: 1.8rem;
}

*::after,*::before,*{
    block-size: inherit;
}

*:focus{
        outline: 2px dashed var(--text-color);
        outline-offset: 2px;
}

h1,h2,h3,h4,h5,h6,p,a,li,ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

section{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1640px;
    width: 100%;
    padding-left:20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

header{
    background-color: var(--bg-color);
    padding: 3.7rem 5rem;
    transition: all ease 0.4s;
}


.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list {
    max-width: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.header__item {
    font-size: 1.8rem;
    font-weight: 400;
}

.header__link{
color: var(--text-color);
transition: all 0.4s ease;
}

.header__link:hover{
    color: var(--btn-color);
    }
.btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--section-color);
    padding: 15px 28px;
    border: #52FFE0 solid 2px;
    border-radius: 5rem;
    background-color: var(--btn-color);
    transition: all 0.4s ease;
    cursor: pointer;
}

.hamburger-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.btn:hover {
    color: var(--btn-color);
    background-color:transparent;
}


/* marketplace start */
.marketplace__section{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.marketplace__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.marketplace {
    max-width: 70.4rem;
}
.marketplace__title {
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: 4;
    margin-bottom: 1.6rem;
}
.marketplace__title-2 {
    font-size: 7.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 6.4rem;
}
.markettplace-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 8rem;
}

.markettplace-btn img{
    margin-left: 5.4rem;
}

.marketplace__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50.8rem;
    width: 100%;
}

.marketplace__item-title {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0.8rem;
}
.marketplace__item-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: #818698;
}

.boy{
    position: relative;

}

.play-icon{
    position: absolute;
    width: 20rem;
    height:  20rem;
    left: 140rem; 
    bottom: 150rem;
}


.catigories{
    margin-bottom: 12rem;
}

.catigories__title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 7.2rem;
}
.catigories__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catigories__item {
    max-height: 367px;
    height: 100%;
    max-width: 245px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 51px 10px;
    border-radius: 5rem;
    background-color: var(--section-color);
}
.catigories__item img{
    width: 225px;
    height: 225px;
    margin-bottom: 5rem;
}
.cotigories__text {
}


@media screen and (max-width:906px){
    header{
        padding: 2.5rem 4rem;
    }
    

    .header__list {
        max-width: 30rem;
    }


    .header__item {
        font-size: 1.6rem;
    }
    
    
    .header__btn {
        padding: 10px 22px;
    }
    
    
}




@media screen and (max-width:700px){
    header{
        padding: 2rem 3rem;
    }
    

    .header__list {
    display: none;
    }


    .header__item {
        font-size: 1.6rem;
    }
    
    
    .header__btn {
    display: none;
    }
    .hamburger-icon{
        display: inline-block;
    }
    
    
}